body {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-size: .5rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
}

h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-weight: bold;
  font-size: 2rem;
}

h2{
  font-size: .75rem;
}

form {
  margin: 10px;
}

input[type='text'] {
  width: 200px;
  text-align: center;
}

.hidden {
  display: none;
}

.results {
  height: 500px;
}

.hike-results, .display-map, .beer-results {
  border: 1px solid black;
  overflow-y: scroll;
}

.before-results {
  margin: 100px 0px;
}

#map {
  height: 100%;
}