/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

}

/* Small devices (height for display) */
@media (min-height: 570px) {
  .results {
    height: 70%;
  }

  .display-map {
    height: 50%;
  }

  .beer-results, .hike-results {
    height: 50%;
    margin-top: 5px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .results {
    height: 70%;
  }
  .display-map, .beer-results, .hike-results {
    height: 95%;
  }    
  h1 {
    font-size: 4rem;
  }
  legend {
    font-size: 4em;
  }

  input {
    font-size: 3em;
  }

  .beer-results {
    margin-right: 15px;
  }
  
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  input[type='text'] {
    width: 200px;
  }
  
  input[type='submit'] {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .header-before {
    width: 300px;
  }
  h1 {
    font-size: 6rem;
  }
  .header-after>h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.25rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}